!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="container">
            <div class="jumbotron text-white bg-primary">
                <h1 class="display-3">Sitecore Powered Blog</h1>
                <p class="lead"><a href="https://jss.sitecore.com/" class="text-light">Sitecore</a> promises to be the way of the future.</p>
            </div>
        </div>
    </header>

    @RenderBody()


    <footer>
        <div class="container">
            <div class="text-white bg-primary">
                <p class="lead">Copyright &#64 @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
